
@using SushiSpace.Web.Models.ViewModels
@model ChangePasswordViewModel



@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-info">@ViewBag.Message</div>
}



<h2>Change Password</h2>

<form asp-action="ChangePassword" asp-controller="Account" method="post">
    <input type="hidden" name="userId" value="@ViewData["UserId"]" /> <!-- Скрытое поле для передачи userId -->

    <div class="form-group">
        <label asp-for="OldPassword">Current Password</label>
        <input asp-for="OldPassword" type="password" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="NewPassword">New Password</label>
        <input asp-for="NewPassword" type="password" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ConfrimNewPassword">Confirm New Password</label>
        <input asp-for="ConfrimNewPassword" type="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Change Password</button>
</form>

@* Для отладки: выведем значение userId *@
<p>UserId: @ViewData["UserId"]</p>